header{
    background-color: #8DBBC6;
}
.logo {
    padding: 20px;
}
.drawe-menu li{
    list-style: none;
    float:left;
    padding: 20px;
}

body {
	background: #8DBBC6;
}

.footer{
    background-color: #8DBBC6;
}

