/* リセットおまじない */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* おまじない終了 */

/* ヘッダー */
.brand {
    font-weight: bold;
    font-size: 20px; 
}
   
.site-header {
    position: relative;
    background-color: #8DBBC6; 
}
   
.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; 
    } 
}

@media (min-width: 600px) {
    .nav__wrapper {
      display: flex; 
    } 
}
   
@media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
    }
    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); 
    } 
}
   
.nav__item a {
    display: block;
    padding: 1.5rem 1rem;
}
   
.nav__toggle {
    display: none; 
}

@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; 
    } 
}

/* BODY */
.masthead {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
            overflow: hidden;
            background-size: cover !important;
            background: url(../static/image/top.png) no-repeat center center scroll;
          }
          
h1 {
            font-style: normal;
            font-weight: bold;
            color: #eee;
            font-size: 11vmin;
            letter-spacing: 0.03em;
            line-height: 1;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
            margin-bottom: 16px;
}
p {
    font-size: 14px;
    text-align: center; 
    margin-bottom: 32px;
}

button {
    background: #098191;
    transition: background ease .25s;
    border-radius: 35px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 8px 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  button:hover {
    background: #63b6b8
  }
  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }


 /* 以下前のcode */
/* header{
    background-color: #8DBBC6;
}
.logo {
    padding: 20px;
}

.header-left{
    float: left;
}

.header-rigth{
    float:right;
}
.drawe-menu li{
    list-style: none;
    float:right;
    padding: 20px;
}

.top-wrapper {
    padding:180px 0 100px 0;
    background-image: url(../static/image/top.png);
    height: 600px;
	background-size: cover;
    position: relative;
}

.container {
    width: 50%;
    height: 100%;
    padding:0 15px;
    margin:0 auto;
    position: relative;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
}
  
.top-wrapper p {
    font-size: 20px;
    text-align: center;
}

input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
} */
  
body {
	background: #8DBBC6;
    margin:0;
    font-family:'Courier New', Courier, monospace
}

.footer{
    background-color: #8DBBC6;

}

