<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="タスク管理">
    <meta name="description" content="カレンダーに書き込まないようなタスクを実行">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TasCookie | 小さなタスク管理</title>
    <link rel="stylesheet" href="../static/style.css">
   

</head>
<body>
    <!-- <header>
        <div class="header-left">
            <img src="../static/image/logo.png">
        </div>
        <div class="header-right">
            <ul class="drawe-menu">
                <li><a class="drawer-menu-item" href="#sec1">できた！タスクをみる</a></li>
                <li><a class="drawer-menu-item" href="#sec2">モンスターの様子をみる</a></li>
            </ul>
        </div>
    </header> -->

        <!-- Header Start -->
        <header class="site-header">
          <div class="wrapper site-header__wrapper">
            <a href="#" class="brand">TasCookie</a>
            <nav class="nav">
              <button class="nav__toggle" aria-expanded="false" type="button">
                menu
              </button>
              <ul class="nav__wrapper">
                <li class="nav__item"><a href="#">『できた！』リストを見る</a></li>
                <li class="nav__item"><a href="#">モンスター様子を見る</a></li>
              </ul>
            </nav>
          </div>
        </header>
        <!-- Header End -->
       

    {% block content %}
   
    <div>
        <section class="masthead" role="img" aria-label="Image Description">
            <h1>
              TasCookie
            </h1>
              <button>
                ログインする
              </button>
          </section>
              
        <!-- 以前のこーど -->
        <!-- <div class="top-wrapper">
            <div class="container">
                <h1>TasCookie</h1>
                <p>カレンダーに書き込まないような小さなタスクをDoしよう</p>
                <div class="btn-wrapper">
                    <button onclick="location.href='http://127.0.0.1:5000/login'">ログイン</button>
                    <button onclick="location.href='http://127.0.0.1:5000/regist'">新規ユーザー登録はこちら</button>
                </div>
            </div>
        </div> -->
    

    
        <!-- <form action="/login" method="post">
        <input type="text" name="member_name" value="ユーザー名">
        <input type="password" name="member_password" value="パスワード">
        <input type="submit" name="save" value="ログイン">
        </form>
        <p class = "error">{{message}}</p>
         -->
        
    
    </div>

    {% endblock %}

    <p class = "footer"> &copy; 2022SUNABACO.online18th_TeamCookie</p>

    <script src="jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>
</body>
</html>