{% extends "index.html" %}
{% block content %}

<h2>{{word}}</h2>

<section class="sec2">
    <form action="/add" method="post" style="padding: 8px 16px 32px 32px ;"> 
        <input type="text" name="task" placeholder="やりたいタスクを入力" >
        <input type="submit" value="設定" name="save">

    </form>
</section>

<section class="sec3">
    <table border="1" form style="margin: auto; width: 50%;">
        {% for item in task_list %}
            <tr class="tr">
                <td class="td">{{item["id"]}}</td>
                <td class="td">{{item["task"]}}</td>
                <td><a href="/edit/{{item['id']}}">編集</a></td>
                <td><a href="/del/{{item['id']}}">削除</a></td>
            </tr>
        {% endfor %}
    </table>
</section>


<!-- <button><a href="/add">タスク編集ページへ</a></button> -->

<button><a href="/logout">ログアウト</a></button>




{% endblock %}